<!-- empty cart -->
<div class="cart1">
<div class="container text-center mt-5" style="height: 72vh;">
    <div class="row">
        <div class="col">
            <img src="https://www.clickbazar.com/Images/empty-cart.gif" alt="" width="500px" >
                <h3 class="m-3">Your Cart is Empty</h3>
            <button class="btn btn-primary" routerLink="/">Shop Now</button>
        </div>
    </div>
</div>

</div>

<!-- table for cart -->
<div class="container">
    <div class="row">
        <div class="col" >
            <table class="table border boarder-dark m-5 ">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>100</td>
                        <td>Mens T Shirts</td>
                        <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4BASKjeTldjHghac5-21iqYLe4RGPC36Fjw&usqp=CAU"></td>
                        <td>Black T-shirt from The Weeknd featuring cover art from the Canadian singer & songwriter's third studio album Starboy. 100% cotton Wash cold; dry low </td>
                        <td>500</td>
                        <td><i class="fa fa-trash text-danger"></i></td>
                    </tr>
                </tbody>
            </table>
       
    <div style="float: right;" class="mb-3">
    <button class="btn btn-danger">Empty Cart</button>&nbsp;
    <button class="btn btn-warning">View More</button>&nbsp;
    <button class="btn btn-success">Check Out</button>&nbsp;
    <b>Grand Total:500</b>
</div>
</div>
</div>
</div>
